bin/
*.test
dist/
.codegraph/
.agent-runtime/
node_modules/
ui/node_modules/
ui/dist/
ui/dist-web/

!/internal/webui/dist/
/internal/webui/dist/*
!/internal/webui/dist/index.html

!/cmd/agent-runtime-gui/dist/
/cmd/agent-runtime-gui/dist/*
!/cmd/agent-runtime-gui/dist/index.html
